// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import variables

html, body
  width: 100%
  background: $background-color

#wrapper
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: $background-color

#sidebar-wrapper
  margin-left: -$sidebar-width
  width: $sidebar-width
  left: $sidebar-width
  height: 100%
  overflow-y: auto
  position: fixed
  z-index: 1000
  background: $background-color

  aside#sidebar
    padding-top: 60%

    h1
      margin-left: 65px
      font-family: 'Oswald', $font-stack
      text-transform: uppercase
      font-weight: bold
      letter-spacing: 3px
      padding-bottom: 5px
      border-bottom: 3px solid #b0b0b0
      display: inline-block


#page-content-wrapper
  width: 100%
  background: $content-background-color

  .page-content
    word-wrap: break-word

#wrapper
  padding-left: $sidebar-width + 60px
  padding-right: 60px
  padding-top: 100px

.show-small
  display: none

footer.page-footer
  background: #000
  height: $footer-height

  p
    line-height: $footer-height
    font-weight: 700
    color: white

  p.pull-left
    padding-left: 30px

  p.pull-right
    padding-right: 30px

.content
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08)
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.08)
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.08)
  padding-bottom: 20px

#login-wrapper
  width: 50%
  margin: 0 auto

@media (max-width: 768px)
  #sidebar-wrapper
    display: none

  #wrapper
    padding-left: 60px
    padding-top: 0px

  .show-small
    display: block

  #page-title
    font-family: 'Oswald', $font-stack
    font-size: 60px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 3px
    padding-bottom: 5px
    margin: 20px 0px 25px 0px
    border-bottom: 3px solid #b0b0b0
    display: inline-block
